.card {
  height: 15rem;
  width: 15rem;

}

.photo-card {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}